# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
*.csproj
*.sln
*.suo
*.userprefs

# Rider / JetBrains
*.idea/
*.DotSettings.user

# macOS
.DS_Store